<div class="container py-5 h-100">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <%= form_with model: @article do |f| %>
      <div class="card" style="width: 40rem;">
        <%= f.label :image, '写真' %>
        <%= f.attachment_field :image, class: "card-img-top" %>

        <div class="card-body text-center mb-4">
          <h4 class="card-title">
            <%= f.text_field :title %>
          </h4>
          <p class="card-text">
            <%= f.text_area :body %>
          </p>
          <%= link_to '詳細ページ', @article, class: 'btn btn-primary' %>
        </div>

      </div>
      <% end %>
    </div>
  </div>
</div>